body{
    background-color: rgb(194, 173, 173);
}

.row{
    padding: 5px 5px;
}

.face{
    padding: 20px 20px;
}
.login-body{

    background-image: url(C:/Users/Karan/Documents/GitHub/Hawkeye/WEBDEV/src/images/cold-europe-iceland-2635616.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: ;
}